root = true

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with=Composable,IgnoreNaming
ktlint_code_style=intellij_idea
compose_disallow_material2=true
compose_modifier_missing_ignore_annotated=AllowNoModifier
compose_allowed_composition_locals=LocalAnimatedContentScope
ij_formatter_tags_enabled=true